
html, body {
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

body{
	background-color:black;
	cursor:url(../img/cursor.png), auto;
	font-family: 'Montserrat', sans-serif !important;
}

header{text-align:center;}


/*********** particles.js container ***********/
#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/************ LOGIN PAGE ************/

#loginContainer {
height:100%;
position:relative;
margin-top:0px;
}

#appearTitle{
	display:none;
	color:white;
}

#errorDiv, #reload{
	display:none;
	background-color:transparent;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}

#errorMessage{color:rgb(255, 218, 68);}
	
.login{
	-webkit-font-smoothing: subpixel-antialiased;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	padding:0px;
	
}

.loginTitle {
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color:white;
}

#connections{
	margin:2px;
	color:grey;
	display:none;
}

#form{
	background-color:rgba(255, 0, 0, 0.38);
	padding:20px;
	border-radius:5px;
}

.is-focused .form-control {
    color: #fff;
	  background-image: -webkit-linear-gradient(bottom, #ffffff 1px, rgba(0,150,136,0) 0%),-webkit-linear-gradient(bottom, rgba(0,0,0,.26) 1px, transparent 0%);
	  background-image: -moz-linear-gradient(bottom, #ffffff 1px, rgba(0,150,136,0) 0%),-moz-linear-gradient(bottom, rgba(0,0,0,.26) 1px, transparent 0%);
	  background-image: -o-linear-gradient(bottom, #ffffff 1px, rgba(0,150,136,0) 0%),-o-linear-gradient(bottom, rgba(0,0,0,.26) 1px, transparent 0%);
	  background-image: linear-gradient(to top, #ffffff 1px, rgba(0,150,136,0) 0%),linear-gradient(to top, rgba(0,0,0,.26) 1px, transparent 0%);
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active:focus{color:rgb(255, 218, 68);}

.btn-primary:not(:disabled):not(.disabled):active{
	background-color:#ffffff38;
}

.form-control{color:white;}
.form-control:focus {
    background-size: 100% 100%,100% 100%;
		transition-duration: .3s;
}

.noSelect{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
/************ LOGIN FORM END ************/


/************ LOBBY ************/
#logout{
	font-size: 0.8em;
  text-decoration: underline;
}

.lobbyTitle{
	font-size:7em;
	font-weight:500;
}

#content{
	  overflow-y: auto;
    max-height: 450px;
}

.color{color:rgb(255, 218, 68);}
.color2{color:white;}

#canvasLobby{
	position: absolute;
  z-index: -1;
  top: 0;
}

.partie{margin-bottom:20px;}
.card{background-color:#8a0000;}
.card-title{color:white;}

/***** SCROLL BAR  *****/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff30;
}

::-webkit-scrollbar{width: 12px;}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #580000;;
}

/******** PARTIE *******/
#canvasPartie{
	position: absolute;
  z-index: -1;
  top: 0;
}

#playerScreen{
		border-top:1px solid red;
		border-bottom:1px solid red;
	  bottom: 10px;
    z-index: 2;
    position: absolute;
}

.alignCenter{align-items:center;}

#glowLeft{
	position:absolute;
	left:10px;
	top:50%;
	transform:translateY(-50%);
}

#glowRight{
	position:absolute;
	right:10px;
	top:50%;
	transform:translateY(-50%);
}

#hpEnemy{
	position:absolute;
	top:2%;
	left:20%;
}

#volume{
	position:absolute;
	top:2%;
	left:2%;
}

#volume i.fa-volume-up:hover{
	color:rgb(161, 161, 161);
}

#volume i.fa-volume-off:hover{
	color:rgb(255, 218, 68);
}

.gris{color:rgb(161, 161, 161);}
